@charset "UTF-8";
/* css document */
*{
    box-sizing: border-box;
}
body {
 background: url("background.png") no-repeat top right fixed;
}
#container {
 width: 800px;
 margin: 0 auto;
}
.left{
    width:48px;
    height:200px;
    background-color: rgba (255,255,255,0.5);
}
